* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  display: grid;
  justify-items: center;

}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  margin: 80px;
}

#root {
  display: grid;
  justify-items: center;
}

.contenedor {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 60%;
  margin-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(251, 3, 3, 0.655) 0 0 8px -1px;
  padding: 10px;
}

.card img {
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.datos {
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.datos h3 {
  font-size: 22px;
}

.datos p {
  color: rgba(0, 0, 0, 0.609);
  font-weight: 200;
}

.datos span {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 600;
}

.card div button {
  margin-top: 15px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  box-shadow: rgba(249, 27, 27, 0.852) 0 0 3px 1px;
}

.card div button:hover {
  background-color: rgba(249, 27, 27, 0.852);  
  color: rgba(0, 0, 0, 0.609);
}
